<div class="login-container">
  <app-nav-bar></app-nav-bar>
		<div class="row">
			<div class="col-md-6 login-form-1" style="float:left;">
				<h3>signup for Institutes</h3>
				<form>
					<div class="form-group">
              <p style="color:darkslateblue;"><u><b>Please enter the PCODE provided from Institute below</b></u></p>
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="your name *" value="" />
                </div>
						<input type="text"  class="form-control" placeholder="institute name *" value="" />
					</div>
					<div class="form-group">
             	<input type="number"  class="form-control" placeholder="contact number*" value="" />
						</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="city *" value="" />
          </div>
          <div class="form-group">
              <input type="text" class="form-control" placeholder="state *" value="" />
            </div>
					<div class="form-group">
						<input type="submit" class="btn btn-lg btn-success" value="contact me" />
					</div>
				</form>
			</div>
			<div class="col-md-6 login-form-2">
				<h3>Parent signup</h3>
				<form>
					<div class="form-group">
            <p style="color:aqua;"><u><b>Please enter the PCODE provided from Institute below</b></u></p>
						<input type="text" class="form-control" placeholder="enter pcode *" value="" />
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-lg btn-success" value="continue" />
					</div>
				</form>
			</div>
		</div>
	</div>