<div class="login-container">
  <app-nav-bar></app-nav-bar>
		<div class="row">
			<div class="col-md-6 login-form-1" style="float:left;">
				<h3>signup for Institutes</h3>
				<form>
					<div class="form-group">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="your name *" value="" #namess/>
                </div>
						<input type="text"  class="form-control" placeholder="institute name *" value="" #instituetname/>
					</div>
					<div class="form-group">
						<input type="email"  class="form-control" placeholder="email*" value="" #email/>
				 </div>
					<div class="form-group">
             	<input type="number"  class="form-control" placeholder="contact number*" value="" #contactnumber/>
						</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="city *" value="" #city/>
          </div>
          <div class="form-group">
              <input type="text" class="form-control" placeholder="state *" value="" #state/>
            </div>
					<div class="form-group">
						<input type="button" class="btn btn-lg btn-success" value="continue" (click)="registerInstitute(namess.value, instituetname.value, email.value, contactnumber.value, city.value, state.value)"/>
					</div>
				</form>
			</div>
			<div class="col-md-6 login-form-2">
				<h3>Parent signup</h3>
				<form>
					<div class="form-group">
            <p style="color:aqua;"><u><b>Please enter the PCODE provided from Institute below</b></u></p>
						<input type="text" class="form-control" placeholder="enter pcode *" value=""  #pcode/>
					</div>
					<div class="form-group">
						<input type="button" class="btn btn-lg btn-success" value="continue" #input />
					</div>
				</form>
			</div>
		</div>
	</div>