.fullWelcomeBackground{

    background-image: url('../../assets/backgroundImages/welcome.jpg');
    

    /* Center and scale the image nicely */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.centered {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    color: orange;

  }
  h1.name{
    position: relative;
    top: 40%;
    left: 27%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200px;
    color: orange;
  }
  @media (min-width: 768px) {
    .re-order .row {
      display: flex;
      display: -ms-flex;
      flex-direction: column;
    }
    .re-order .row .first {
      order: 2;
    }
    .re-order .row .second {
      order: 1;
    }
  }
  
  .top-left {
    position: absolute;
    top: 20px;
    left: 40px;
  }