<div class="fullWelcomeBackground" id="welcome">
    <div class="row">
  <div class="col-sm-8">
    <div id="one">
      <div class="container">
        <h4 style="font-family:'Courier New', Courier, monospace;color:antiquewhite;padding-top: 20px;">Thought for the
          Day: <h5 style="font-family:cursive;color: whitesmoke;padding-left: 280px;">An apple a day keeps doctor's
            away.</h5>
        </h4>
      </div>
      <header>
        <h1 style="font-family:Georgia, 'Times New Roman', Times, serif;font-size:300px;color:orangered">Edyug</h1>
        <p style="font-size: 60px;color:yellow;">Transforming education...</p>>
      </header>
    </div>
  </div>
  <div class="col-sm-4">
    <router-outlet></router-outlet>
</div>
</div>
<script>
  window.onresize = function () {
    document.getElementById("size").innerHTML = window.innerWidth;
  };
</script>